@font-face {
    font-family: 'EagleLake';
    src: url('../fonts/EagleLake-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    color: #4d3328;
}
.container{
    width: 80%;
}

/* Navigation */

.navbar{
    height: 120px;
}

.navDropdown{
    color: #4d3328;
    list-style: none;
    margin: 0px 30px 10px 0px;
}
.navbar-collapse{
    z-index: 1000;
}
.navDropdown a{
    color: #4d3328;
}
.navDropdown a:hover{
    color: #32cdcd;
}
.navbar-nav .dropdown-menu, .characterformular textarea, input, select{
    border: 1px solid #dac4ab;
}
/* #navbarDropdown{
    color: #4d3328;
    font-size: 20pt;
    height: auto;
    margin-top: 50%;
} */
.nav-item{
    margin-right: 30px;
    height: 100%;
    width: auto;
}
@media screen and (min-width:993px) {
    .nav-item.desktop{
        display:block;
    }
    .nav-item.mobile{
        display:none;
    }
}
@media screen and (max-width:992px) {
    .nav-item.desktop{
        display:none;
    }
    .nav-item.mobile{
        display:block;
    }
}
.menuIcon{
    height: 100px;
}
.subNavLi{
    display: inline;
    margin-right: 30px;
}
.subNavLi a{
    color: #4d3328;
}
.subNavUl{
    list-style: none;
}
a:hover{
    text-decoration: none;
    color: #32cdcd;
}
hr{
    border-color: #dac4ab;
}

/* Protocol */

.form-group{
    color: #32cdcd;
}
.form-group .form-control{
    color: #4d3328;
}
#message-area .ckeditor{
    color: #32cdcd;
}

/* Buttons */

.btn-primary, .btn-info{
    background-color: #4d3328;
    color: #ffffff!important;
    border: none;
    font-family: 'EagleLake', Helvetica, sans-serif;
}
.btn-info{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary:hover, .btn-info:hover{
    background-color: #32cdcd!important;
}
.btn-danger{
    background-color: #4d3328;
    color: #ffffff;
    border: none;
}
.btn-danger:hover{
    background-color: #32cdcd;
}
.btn-default{
    color: #4d3328;
}
.btn-default:hover{
    color: #32cdcd;
}

/* Subpages */

h1, h2, h3, h4{
    font-family: 'EagleLake', Helvetica, sans-serif;
}
.table{
    color: #4d3328;
    font-family: 'EagleLake', Helvetica, sans-serif;
}
.table .thead-dark th{
    border-color: #4d3328;
    background-color: #4d3328; 
    font-weight: normal;
}
.table td{
    border-top: 1px solid #dac4ab;
    font-size: 13px;
}
.table th{
    border-top: 1px solid #dac4ab;
}

.box, .group-box, .backtogroup{
    margin-top: 20px;
    margin-right: 20px;
    width: 30%;
    height: auto;
    padding: 10px;
    float: left;
    text-align: center;
    font-family: 'EagleLake', Helvetica, sans-serif;
    color: #4d3328;
}
.backtogroup{
    background-color: #4d3328;
    color: #fff;
    width: 200px;
    font-size: 14px;
}
.backtogroup:hover{
    background-color: #32cdcd;
}
/* .userbox{
    font-family: 'EagleLake', Helvetica, sans-serif;
    float:right;
    width: 200px;
} */
#groupUser{
    margin-top: 20px;
    text-align: center;
}
.borderline{
    border: 1px solid #4d3328;
}
.group-box:hover{
    color: #32cdcd;
}
.nav-link, .btn-link{
    color: #4d3328;
}
.btn-link:hover, .nav-link:hover{
    text-decoration: none;
    color: #32cdcd;
}
.form-control, label, textarea, input, select{
    color: #4d3328;
    font-family: 'EagleLake', Helvetica, sans-serif;
}
.form-control{
    border: none;
}
.container-columns{
    width: auto;
}
.column-first{
    display:flex;
    flex-direction: column;
}
.column-second{
    width: 100%;
}
.bonusList{
    cursor: pointer;
}

/* Characterformular */

.characterformular{
  width: 80vw;
  margin:auto;
}
/* .characterformular > form{
  display:flex;
  flex-direction: column;
  width: 100%;
} */
.characterformular textarea{
  height: 100px;
  width: 100%;
}
.characterformular-top{
  display:flex;
}
.rightbound{
    text-align: left;
    padding: 10px;
}
.characterformular-left{
  display:flex;
  flex-direction:column;
}
.characterformular-left input{
  margin-top: 20px;
}
.characterformular-right{
  display:flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
.characterformular-right textarea{
  width: 100%;
}
.box{
  display:flex;
  flex-direction:column;
  width: 45%;
  margin-bottom: 20px;
}
.box .input-row{
  padding: 10px 0;
  margin-bottom: 20px;
}
.box .input-row label{
  width: 100px;
  text-align: left;
}
.gear .input-row select{
  margin-bottom: 20px;
  width: 100%
}
.gear .input-row label{
  width: 200px;
}
.form-control, label, textarea, input, select{
  width: 100%;
}
.characterformular-bottom label{
  display: block;
  width: 50%;
  float:left;
}
.savechanges{
  display:block;
  margin-left: auto;
  /* margin-right: 10vw; */
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: 'EagleLake', Helvetica, sans-serif;
}
#placeholder{
  width: 200px;
  margin-right: 20px;
  margin-top: 20px;
}
.characterformular-bottom textarea{
  margin-bottom: 20px;
}
#file{
  display: none;
}
#buttonUpload, .savechanges{
  width: 200px;
  font-size: 12px;
  background-color: #4d3328;
  border: none;
  color: #ffffff;
  padding: 5px;
}
#buttonUpload:hover, .savechanges:hover{
  background-color: #32cdcd;
}
.attributes table{
  margin-top: 20px;
  font-family: 'EagleLake', Helvetica, sans-serif;
  border-collapse: separate;
  border-spacing: 10px 20px;
}
.gear{
  margin-top: 20px;
  margin-right: 20px;
}
.labelTop{
    margin-top: 20px;
}

/* Playpage */
  .checkbox{
    cursor:pointer;
    width: auto;
  }
  .checkLabel{
    width: 150px;
  } 
  .checkContainer{
      display: flex;
  }
  .inputWidth{
    width: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .save, .regenerate{
    margin-right: 50px;
  }
  .abilities{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    align-items:flex-start;
    justify-content:flex-start;
  }
  .ability{
    text-align:center;
    border: 1px solid #4d3328;
    margin:5px;
    padding:10px;
    cursor:pointer;
  }
  .runes{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    align-items:flex-start;
    justify-content:flex-start;
  }
  .rune{
    text-align:center;
    border: 1px solid brown;
    margin:5px;
    padding:10px;
    cursor:pointer;
  }
  .fixFlex{
      display: block;
  }
  .selectedBox{
    background-color:brown;
    color:white;
  }
  .selectedBox, .ability:hover{
    background-color: #4d3328;
    color: #ffffff;
  }
  .abilityresult{
    display:none;
  }
  #headerPlay{
    padding-bottom: 20px;
  }

  .effects{
    display:flex;
    width: 500px;
    justify-content: space-between;
  }
  .effects-head{
    width:150px;
    text-align:center;
    border: 1px solid brown;
    margin:5px;
    padding:10px;
  }
  .disabled{
    color:grey;
    background-color:#cfcfcf;
    border:grey;
  }
  .disabled:hover{
    color:grey;
    background-color:#cfcfcf;
    border:grey;
  }
  .showRune{
    display:none;
  }
  .hidden{
    display:none;
  }

/* BurgerMenu */

.menuBurgerText{
    display: none;
}
.fa-1x {
    font-size: 2.5rem;
    color: #4b3328;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.navbar-toggler{
    margin-right: 5%;

}

/* Media Queries */

@media screen and (max-width: 992px){
    .menuBurgerText{
        display: inline;
        color: #4d3328;
        font-family: 'EagleLake', Helvetica, sans-serif;
    } 
    .menuBurgerText:hover{
        color: #32cdcd;
    }
    .menuIcon{
        display:none;
    }
    .mr-auto{
        background-color: #ffffff;
        border: 1px solid #4b3328;
        /* margin-left: 30%; */
        text-align: center;
        height: 250px;
    }
    .nav-item{
        height: 30px;
        padding: 20px;
    }
}

@media screen and (max-width: 776px){
    .characterformular-left #placeholder, #buttonUpload{
        display:none;
    }
    .characterformular-right .box{
        width: 100%;
    }
}